/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
a{
    text-decoration: none;
    color: #07245F;
}

/* header start */
header {
    background-color:  #EFF4FE;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

header .tft-site-logo-container {
    background-color: #07245F;
    width: 533px;
    height: 151px;
    display: flex ;
    justify-content: center;
    align-items: center;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);

}

header .tft-site-logo-container .tft-site-img-logo {
    max-width: 235px;
    height: auto;
    margin-right: 3rem;
}

.tft-site-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;

  }

  /* top menu style */

  .tft-site-top-bar {
    background: linear-gradient(0deg, #0E3DD8, #0E3DD8),
    linear-gradient(0deg, #1342E0, #1342E0);
    height: 55px;
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0 100%);
    padding: 0 3rem;
    color:  #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .tft-site-top-bar-left-item {
    color: #ffff;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .tft-site-top-bar-left {
    display: flex;
    gap: 1rem;
  }
  .tft-site-top-bar-left-item a {
    color: #fff;
  }
  .tft-site-top-bar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .tft-site-languages select {
    background-color: transparent;
    border: none;
    color: #fff;
  }
  .tft-site-login a {
    color: #fff;

  }

  .tft-site-languages select option {
    color: #fff;
    background: #000;
  }
  /* main menu style*/

  .tft-site-menu {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 3rem;
    justify-content: space-between;
  }
  .tft-site-menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-underline-offset: initial;
    text-underline-position: under;
    color :#000000;
    font-weight: 500;
    font-size: 0.875rem;
  }


.tft-site-menu-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tft-menu-cart {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
}
.tft-menu-bars {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
}
.tft-menu-search {
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
}
.tft-site-menu-discover .tfc-site-menu-discover-btn {
  display: flex;
  background-color: #FF6B00;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  color: #fff;
}



/*
Footer style

*/


/* top footer start */
.tft-site-footer-top {
  background-image: url(./images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;

}


.tft-site-container {
  max-width: 1212px;
  margin: 0 auto;
}
.tft-site-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tft-site-footer-item-content a {
  color: #9AA0AA;
}
.tft-site-footer-item-title {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
.tft-site-footer-item-content ul {
  list-style: none;
}
.tft-site-footer-item-content ul li {
  margin: 0.75rem 0;
}
.tft-site-footer-item-title::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #ffffff;
  bottom: 0;
}
.tft-site-footer-item-title {
  position: relative;
}

.tft-site-footer-newsletter {
  position: relative;
  display: block;
  margin: 1rem 0;
  width: 250px;
}
.tft-site-footer-newsletter input{
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  background-color: #203453;
  color: #FFFFFF;
  width: 100%;
}

.tft-site-footer-newsletter img {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.tft-site-footer-newsletter-form button {
  max-width: 180px;
  padding: 0.75rem 1.5rem;
  background: #0E3DD8;
  color: white;
  border: navajowhite;
  border-radius: 50px;
}


.tft-footer-site-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tft-footer-contact-info * {
  color: #fff;

}
.tft-footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.tft-footer-location h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.tft-footer-location P {
  color: #9AA0AA;
}

/* Top footer end */

/* bottom footer start */

.tft-footer-bottom{
  /* two color left is red & right is blue background */
  background: linear-gradient(
    to right,
    #132847 0%,
    #132847 70%,
    #0E3DD8 70%,
    #0E3DD8 100%
  );
  padding: 2rem 0;
}

.tft-site-copy-right * {
  color: #fff;
}


.tft-footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.tft-footer-bottom-links ul {
  list-style: none;
  display: flex;
}
.tft-footer-bottom-links ul li {
  margin-right: 2rem;
}
.tft-footer-bottom-links ul li a {
  color: #fff;
}

/*
Banner style Start
*/

.tft-banner-container{
  position: relative;
  height: 600px;
width: 100%;
overflow: hidden;
margin: 2rem 0;
}


.tft-banner-slider-item {
  position: absolute;
  width: 100%;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.tft-banner-slider-item >img {
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.tft-banner-slider-item-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tft-slider-dots {
  position: absolute;
  right: 0%;
  top: 50%;
  z-index: 2;
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translate(-50%,-50%);
}
.tft-slider-dots span {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.tft-slider-item-button {
  background-color: #FA6400;
  border: navajowhite;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  margin: 1rem 0;
}
.tft-slider-item-button a {
  color: #fff;
}


.tft-slider-item-title {
  font-family: 'Brygada 1918', serif;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.tft-slider-item-title span {
  display: block;
  font-family: 'Caveat', cursive;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.tft-slider-share-social {
  position: absolute;
  left: 2%;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(50%,-50%);
  justify-content: center;
  align-items: center;
}



.tft-social-title {

  transform: rotate(-90deg);
  letter-spacing: 3.68px;
  margin-top: 2rem;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;

  white-space: nowrap;
  font-family: Ubuntu;
  font-weight: 500;
}
.tft-social-divider {
  height: 100px;
  width: 1px;
  background-color: #D9D9D9;
  margin: 1rem 0;
}
.tft-slider-share-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tft-slider-share-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D6DFF0;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.tft-slider-single-dot.active, .tft-slider-single-dot:hover {
  background-color: #FA6400;
}
